/* button{
    width: 20px;
} */
/* label{
    width: 15px
} */
/* select{
    width: 10%

} */
.dropdownMenu{

    float: left;
}

.axis text{
    font-size: 0.5rem;
    fill: white;
}
.slider text {
  font-size: 0.75rem;
  font-weight: bold;
  fill: white;
}
.slider-svg{
    position: relative;
    float: left;
    bottom: 1.3em
}
.members{
    width: 25%;
    height: 100%;
    float: left;
}

.filters{
    width: 16%;
    height: 100%;
    float: left;
}

#play-pause-btn{
    height: 100%;
    float: left;
}

/* .axis text {
    fill: red;
  } */

  /* .slider text {
    fill: green;
  } */

  .btn{
      background-color: grey;
      color:white
  }

  .form-control{
    background-color: grey;
    color:white
  }

  track{
      color: grey;
  }